.main-container {
    margin: 0;
}

/* LAPTOP SIZE */

img {
    width: 12vw;
    height: 10vw;
}

#nav-bar {
    width: 20vw;
    height: 30vw;
    display: inline-block;
    margin-top: 2vw;
}

ul {
    list-style-type: none;
    font-family: 'Nunito Sans', sans-serif; 
    font-size: 1.5vw;
    font-weight: 300;
}

li:hover {
    color: orange;
}

#splitConscious {
    width: 40vw;
    height: 40vw;
    float: right;
    margin-left: 13vw;

}

figcaption {
    font-size: 1vw;
    font-style: italic;
    margin-top:38.8vw;
}

#h1Portfolio {
    font-family:'Nunito Sans';
}

.nav-portfolio {
    background-image: url(img/portfolio.png);

}

.nav-item {
    width: 80%;
    height: 15%;
    margin-bottom: 3px;
    margin-left: 2vw;
}

#imgHome {
    width: 6.2vw;
    height: 3.2vw;
}

img#imgPortfolio {
    width: 10vw;
    height: 3.5vw;
}

#imgAbout {
    width: 7vw;
    height: 3.2vw;

}

#imgContact {
    width: 9vw;
    height: 3.2vw;
}
