
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'EB Garamond';
    text-align: center;
}

h4 {
    text-align: center;
}


/* FONT FACE */

@font-face {
    font-family: "Helvetica-Medium";
    src: url(../fonts/HelveticaNeueMedium.ttf)
}

@font-face {
    font-family: "Helvetica-Light";
    src: url(../fonts/HelveticaNeueLight.ttf)
}

@font-face {
    font-family: "Helvetica-Italic";
    src: url(../fonts/HelveticaNeueItalic.ttf)
}

@font-face {
    font-family: "Helvetica-Light-Italic";
    src: url(../fonts/HelveticaNeueLightItalic.ttf)
}

@font-face {
    font-family: "Helvetica-Bold-Italic";
    src: url(../fonts/HelveticaNeueBoldItalic.ttf)
}

@font-face {
    font-family: "Avenir-Black";
    src: url(../fonts/AvenirBlack.otf);
}

@font-face {
    font-family: "Avenir-Book";
    src: url(../fonts/AvenirBook.otf);
}

@font-face {
    font-family: "Avenir-Roman";
    src: url(../fonts/AvenirRoman.otf);
}


/* NAVBAR STUFF */

a.navbar-item {
    color: black;
    font-family: 'Avenir-Book';

}

.navbar-item:hover {
    color: #ffc43e;
}

.nav-desktop {
    color: black;
    font-family: 'Avenir-Book';
    font-size: .9rem;

}

.nav-desktop:hover {
    color: #ffc43e;
}

.align-right {
    text-align: right;
}

/* ANIMATIONS */



/* HOME  */

body {
    background-color: #F0FFEC; 
}

.logo-home {
    width: 50px;
    margin-top: 20px;
}

#imgSection {
    display: inline-block;
   
}

#lowBattery {
    font-size: 15px;
    font-family: "Avenir-Book";
}

#homeImg {
    width: 78%;
}

.text-align {
    text-align: center;
}

.text-align-small {
    text-align: center;
}

#copyrightTag {
    font-family: 'EB Garamond';
    font-size: .8rem;
    text-align: center;
}

/* ABOUT PAGE */

.about-img {
    width: 80%;
}

p.aboutparagraph {
    font-family: 'Avenir-Book';
    text-align: left;
    padding-left: 12%;
    padding-right: 12%;
    margin-bottom: 10%;
}

.contact-info {
    padding-left: 12%;
    padding-right: 12%;
    margin-bottom: 10%;
}

.email {
    font-family: 'Avenir-Book';
    color: black;
}

.email:hover {
    color: grey;
}

.linkedin {
    font-family: 'Avenir-Book';
    color: black;
}

.linkedin:hover {
    color: grey;
}

.resume {
    font-family: "Avenir-Book";
    color: black;
}
.resume:hover {
    color: grey;
}

.slashes {
    font-family: 'Avenir-Book';
    color: black;
}

/* PORTFOLIO */

#portfolioStudio {
    width: 50vw;
    height: 45vw;
    border: 1px solid lightgrey;
    background-color: white;
    opacity: .7;
    display: inline-block;
    margin-top: 10%;
    text-align: center;
}

#portfolioStudio:hover {
    opacity: .5;
}

.portfolio-studio-text {
    font-family: 'Avenir-Book';
    color: black;
    padding-top: 30%;
    font-size: 1.5rem;
}

#portfolioGraphic {
    width: 50vw;
    height: 45vw;
    border: 1px solid lightgrey;
    background-color: white;
    opacity: .7;
    display: inline-block;
    margin-top: 10%;
    text-align: center;
}

#portfolioGraphic:hover {
    opacity: .5;
}

.portfolio-graphic-text {
    font-family: 'Avenir-Book';
    color: black;
    padding-top: 30%;
    font-size: 1.5rem;
}

#portfolioWeb {
    width: 50vw;
    height: 45vw;
    border: 1px solid lightgrey;
    background-color: white;
    opacity: .7;
    display: inline-block;
    margin-top: 10%;
    text-align: center;
}

#portfolioWeb:hover {
    opacity: .5;
}

.portfolio-web-text {
    font-family: 'Avenir-Book';
    color: black;
    padding-top: 30%;
    font-size: 1.5rem;
}


.paragraph-text {
    font-family: "Avenir-Book";
}

.paragraph-margin-bottom {
    margin-bottom: 100px;
}


/* STUDIO */

.studio-preview {
    width: 50vw;
    height: 45vw;
    margin-top: 10%;
    display: inline-block;
}

.mac-miller {
    background-image: url(../img/mac-miller-copy.jpg);
    background-size: cover;
}

.split-conscious {
    background-image: url(../img/split-conscious-copy.jpg);
    background-size: cover;
    background-position: center;
}

.blueface-newface {
    background-image: url(../img/blueface-newface-top-copy.jpg);
    background-size: cover;
}

.low-battery {
    background-image: url(../img/low-battery-copy.jpg);
    background-size: cover;
}

.earl {
    background-image: url(../img/earl-copy.jpg);
    background-size: cover;
    margin-bottom: 20%;
}

.mac-portrait {
    background-image: url(../img/mac-portrait.JPG);
    background-size: cover;
}

/* GRAPHIC */

.graphic-preview {
    width: 50vw;
    height: 45vw;
    margin-top: 10%;
    display: inline-block;
    background-color: white;
}

.bhive {
    background-image: url(../img/BHIVE-POSTER-FINAL.jpg);
    background-size: cover;
}

.euclidean {
    background-image: url(../img/euclidean-poster.png);
    background-size: cover;
}

.middleman {
    background-image: url(../img/MiddleMan.jpg);
    background-size: cover;
}

.lucid-journey {
    background-image: url(../img/lucid-journey.png);
    background-size: cover;
    margin-bottom: 20%;
}

.upper-lower {
    background-image: url(../img/u&lc-cover-smaller.png);
    background-size: cover;
}

.sustainability {
    background-image: url(../img/sustainability-center.jpg);
    background-size: cover;
}


/*  WEB  */

.web-preview {
    width: 50vw;
    height: 45vw;
    margin-top: 10%;
    display: inline-block;

}

.book-bandy {
    background-image: url(../img/book-bandy.png);
    background-size: cover;
}

.sustainable-me {
    background-image: url(../img/sustainable-me-preview.jpg);
    background-size: cover;
}

.earthquake {
    background-image: url(../img/earthquake-preview.png);
    background-size: cover;
    margin-bottom: 20%;
}

.paragraph-text-web {
    font-size: .9rem;
}

/* ARTWORK */

.text-justify {
    text-align: justify;
}

.back-button {
    padding: 20px;
    font-family: "Avenir-Book";
    color: grey;
    font-size: .8rem;
}

#macPortrait {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.artwork-title {
    font-family: 'EB Garamond';
    text-align: center;
    font-size: 25px;
    margin-top: 25px;
}

#macFull {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#splitConscious {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#blueFace {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}

#lowBattery {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}

#earl {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#euclideanPoster {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#middleman {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#sustainabilityCenter {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#bHive {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

#upperLower {
    width: 100%;
    margin-right: auto;
    margin-left: auto; 
}

#lucidJourney {
    width: 100%;
    margin-right: auto;
    margin-left: auto; 
}

.next-btn {
    float: right;
    padding: 20px;
    margin-bottom: 50px;

}

.next {
    font-family: "Avenir-Book";
    color: black;
}

.next:hover {
    color:#ffc43e;
}

/* MEDIA BREAKPOINTS */

/* PHONES */

@media (max-width: 575.98px) {

    #homeTextDisplay {
        display: none;
    }

    .navbar-lg {
        display: none;
    }

    #copyrightTag {
        display: none;
    }

    .next-btn-large {
        display: none;
    }


 }

@media (min-width: 576px) and (max-width: 767.98px) { 

    #homeTextDisplay {
        display: none;
    }

    .navbar-lg {
        display: none;
    }

    #copyrightTag {
        display: none;
    }

    .next-btn-large {
        display: none;
    }


 }
 
 /* IPAD / TABLET */

@media (min-width: 768px) and (max-width: 991.98px) { 

    #homeImg {
        width: 75%;
    }

    h4#lowBattery {
        display: none;
    }

    .navbar-lg {
        display: none;
    }

 }

/* LAPTOP */

@media (min-width: 992px) and (max-width: 1199.98px) { 

    /* Home Page */

    #homeImg {
        width: 45%;
    }

    #imgSection {
        margin-left: 75px;
        margin-top: 20px;
    }

    .text-align {
        text-align: left;
    }

    h4#lowBattery {
        display:none;
    }

    /* NAVBAR */

    .navbar-sm-md {
        display: none;
    }

    #navDesktop {
        margin-top: 40px;
    }

    #navDesktopHome {
        margin-top: 10px;
    }

    .navbar-lg {
        display: inline-block;
        padding-right: 10px;
        margin-left: 40px;
    }

    .align-right {
        padding-bottom: 20px;
    }

    /* Portfolio Page */


    #portfolioStudio {
        width: 150px;
        height: 150px;

    }

    #portfolioGraphic {
       width: 150px;
       height: 150px;
   }

   #portfolioWeb {
       width: 150px;
       height: 150px;
   }

   .text-align-large {
       text-align: center !important;
   }

   .portfolio-margin-large {
       margin-left: 45px;
   }

   .mt-large {
       margin-top: 25px;
   }

   /* Studio Page */

   .studio-large {
        width: 150px;
        height: 150px;
   }

    .studio-margin-large {
        margin-left: 45px;
   }


   .spaceTaker {
        width: 127px;
        height: 100px;
    }

    /* Graphic Page */

    .graphic-large {
        width: 150px;
        height: 150px;
    }

    .graphic-margin-large {
        margin-left: 45px;
    }

    /* Web Page */

    .web-large {
        width: 150px;
        height: 150px;
    }

    .web-margin-large {
        margin-left: 45px;
    }

     /* Artwork Pages */

    .paragraph-large {
        margin-top: 100px;
        
    }

    .next-btn {
        display: none;
    }

    .next-btn-large {
        float: left;
        padding-top: 120px;
    
    }

    .next-large {
        font-size: 1rem;
    }

    #macFull{
        width: 65%;
    }

    #splitConscious {
        width: 80%;
    }

    #blueFace {
        width: 70%;
    }
    
    #lowBattery {
        width: 60%;
    }

    #earl {
        width: 60%;
    }

    #euclideanPoster {
        width: 60%;
    }

    #middleman {
        width: 80%;
    }

    #upperLower {
        width: 70%;
    }

    .margin-artwork-pages {
        margin-top: 80px;
    }


    .margin-paragraph-large {
        margin-top: 50px;
    }

     /* ABOUT PAGE */

     .about-img {
        width: 80%;
    }

    .contact-info {
        padding-left: 0;
        padding-right: 0;
    }

    p.aboutparagraph {
        padding-left: 0;
    }


 }

 /* DESKTOP */

@media (min-width: 1200px) { 

    #homeImg {
        width:45%;
    }

    #imgSection {
        margin-bottom: 50px;
        margin-top: 10px;
    }

    .text-align {
        text-align: left;
    }

    h4#lowBattery {
        display:none;
    }

    /* NAVBAR */

    .navbar-sm-md {
        display: none;
    }

    #navDesktop {
        margin-top: 40px;
    }

    #navDesktopHome {
        margin-top: 10px;
    }

    .navbar-lg {
        display: inline-block;
        padding-right: 15px;
        margin-left: 40px;
    }

    .align-right {
        padding-bottom: 20px;
    }

     /* Portfolio Page */

     #portfolioStudio {
         width: 150px;
         height: 150px;

     }

     #portfolioGraphic {
        width: 150px;
        height: 150px;
    }

    #portfolioWeb {
        width: 150px;
        height: 150px;
    }

    .text-align-large {
        text-align: center !important;
    }

    .portfolio-margin-large {
        margin-left: 45px;
    }

    .mt-large {
        margin-top: 25px;
    }

    /* Studio Page */

    .studio-large {
        width: 150px;
        height: 150px;
    }

    .studio-margin-large {
        margin-left: 45px;
    }

    .spaceTaker {
        width: 127px;
        height: 100px;
    }

    /* Graphic Page */

    .graphic-large {
        width: 150px;
        height: 150px;
    }

    .graphic-margin-large {
        margin-left: 45px;
    }

    /* Web Page */

    .web-large {
        width: 150px;
        height: 150px;
    }

    .web-margin-large {
        margin-left: 45px;
    }

    /* Artwork Pages */

    .paragraph-large {
        margin-top: 100px;
        
    }

    .next-btn {
        display: none;
    }

    .next-btn-large {
        float: left;
        padding-top: 120px;
    
    }

    .next-large {
        font-size: .9rem;
    }

    #macFull{
        width: 65%;
    }

    #splitConscious {
        width: 80%;
    }

    #blueFace {
        width: 70%;
    }
    
    #lowBattery {
        width: 60%;
    }

    #earl {
        width: 60%;
    }

    #euclideanPoster {
        width: 60%;
    }

    #middleman {
        width: 80%;
    }

    #upperLower {
        width: 70%;
    }

    .margin-artwork-pages {
        margin-top: 80px;
    }

    .margin-paragraph-large {
        margin-top: 80px;
    }

    /* ABOUT PAGE */

    .about-img {
        width: 70%;
    }

    p.aboutparagraph {
        padding-left: 0;
    }

    .contact-info {
        padding-left: 0;
        padding-right: 0;
    }


 }