
/* FONT FACE */

@font-face {
    font-family: "Helvetica-Medium";
    src: url(../fonts/HelveticaNeueMedium.ttf)
}

@font-face {
    font-family: "Helvetica-Light";
    src: url(../fonts/HelveticaNeueLight.ttf)
}

@font-face {
    font-family: "Helvetica-Italic";
    src: url(../fonts/HelveticaNeueItalic.ttf)
}

@font-face {
    font-family: "Helvetica-Light-Italic";
    src: url(../fonts/HelveticaNeueLightItalic.ttf)
}

@font-face {
    font-family: "Helvetica-Bold-Italic";
    src: url(../fonts/HelveticaNeueBoldItalic.ttf)
}

/* NAVBAR STUFF */

.my-navbar {
    background-color:whitesmoke;
}

a.navbar-item {
    color: black;
    font-family: 'Helvetica-Light';

}

.navbar-item:hover {
    color: white;
    text-decoration: none;
}

body {
    background-color: #F0FFEC;
    
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'EB Garamond';
    text-align: center;
}

#homeImg {
    width: 80%;
}

.text-align {
    text-align: center;
}

/* ABOUT PAGE */

#aboutImg {
    width: 80%;
}

p.aboutparagraph {
    font-family: 'Helvetica-Light';
    text-align: left;
    padding-left: 12%;
    padding-right: 12%;
}

/* PORTFOLIO */

#portfolioStudio {
    width: 50vw;
    height: 45vw;
    border: 1px solid lightgrey;
    background-color: white;
    opacity: .7;
    display: inline-block;
    margin-top: 10%;
    text-align: center;
}

#portfolioStudio:hover {
    opacity: .5;
}

.portfolio-studio-text {
    font-family: 'Helvetica-Light-Italic';
    color: black;
    padding-top: 30%;
    font-size: 1.5rem;
}

#portfolioGraphic {
    width: 50vw;
    height: 45vw;
    border: 1px solid lightgrey;
    background-color: white;
    opacity: .7;
    display: inline-block;
    margin-top: 10%;
    text-align: center;
}

#portfolioGraphic:hover {
    opacity: .5;
}

.portfolio-graphic-text {
    font-family: 'Helvetica-Light-Italic';
    color: black;
    padding-top: 30%;
    font-size: 1.5rem;
}

#portfolioWeb {
    width: 50vw;
    height: 45vw;
    border: 1px solid lightgrey;
    background-color: white;
    opacity: .7;
    display: inline-block;
    margin-top: 10%;
    text-align: center;
}

#portfolioWeb:hover {
    opacity: .5;
}


.portfolio-web-text {
    font-family: 'Helvetica-Light-Italic';
    color: black;
    padding-top: 30%;
    font-size: 1.5rem;
}

/* STUDIO */

.studio-preview {
    width: 50vw;
    height: 45vw;
    margin-top: 10%;
    display: inline-block;
}

.mac-miller {
    background-image: url(../img/mac-miller-copy.jpg);
    background-size: cover;
}

.split-conscious {
    background-image: url(../img/split-conscious-copy.jpg);
    background-size: cover;
    background-position: center;
}

.blueface-newface {
    background-image: url(../img/blueface-newface-top-copy.jpg);
    background-size: cover;
}

.low-battery {
    background-image: url(../img/low-battery-copy.jpg);
    background-size: cover;
}

.earl {
    background-image: url(../img/earl-copy.jpg);
    background-size: cover;
    margin-bottom: 20%;
}